<!-- customer_list.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h2>Customer List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>No. HP</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
          <td>{{ customer.id_cust }}</td>
          <td>{{ customer.nama_cust }}</td>
          <td>{{ customer.alamat }}</td>
          <td>{{ customer.hp }}</td>
          <td>
            <a href="{% url 'customer:update' customer.id_cust %}" class="btn btn-primary">Update</a>
            <a href="{% url 'customer:delete' customer.id_cust %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No customers found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<!-- Tambahkan tautan ke file CSS Bootstrap -->
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
