<!-- delete_transaksi.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Hapus Transaksi</title>
  <!-- Tambahkan tautan ke file CSS Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <div class="container">
    <h1>Hapus Transaksi</h1>

    <p>Anda yakin ingin menghapus transaksi ini?</p>

    <p>No. Faktur: {{ transaksi.no_faktur }}</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Hapus</button>
      <a href="{% url 'transaksi:read' %}" class="btn btn-secondary">Batal</a>
    </form>
  </div>

  <!-- Tambahkan skrip JavaScript Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
